@media screen and (min-width: 769px) {
  .menu ul li:hover .custom-caret {
    transform: rotate(-180deg);
    transition: 0.2s; } }

@media screen and (min-width: 1280px) {
  .menu .dropdown:hover > .dropdown-menu {
    display: block; } }

@media screen and (min-width: 1760px) {
  .page-index .screen-stages .main-content {
    float: right; }
    .page-index .screen-stages .main-content .content {
      margin: auto auto auto 235px; } }

@media screen and (max-width: 1760px) {
  .page-index .left-menu {
    display: none !important; } }

@media screen and (min-width: 1360px) and (max-width: 1629px) {
  .page-index .calc .foundation {
    max-width: 410px; }
  .page-index .calc .walls {
    max-width: 430px; }
  .page-index .calc .roof {
    max-width: 460px; } }

@media screen and (min-width: 1261px) and (max-width: 1629px) {
  .page-index .calc {
    max-height: 550px !important; } }

@media screen and (min-width: 1206px) and (max-width: 1359px) {
  .page-index .calc .foundation {
    max-width: 369px; }
  .page-index .calc .walls {
    max-width: 331px; }
  .page-index .calc .roof {
    max-width: 456px; } }

@media screen and (max-width: 1206px) {
  .page-index .calc .foundation, .page-index .calc .walls, .page-index .calc .roof {
    margin-bottom: 30px !important; }
  .page-index .calc {
    background-image: radial-gradient(ellipse, #232323, #232323, #585b58); } }

@media screen and (min-width: 920px) and (max-width: 1100px) {
  .page-index .calc .foundation {
    max-width: 440px; }
  .page-index .calc .walls {
    max-width: 430px; } }

@media (max-width: 919px) {
  .page-index .calc .foundation {
    margin: auto;
    text-align: center; }
  .page-index .foundation:after {
    height: 2px;
    width: 100%;
    content: '';
    display: block;
    background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent); }
  .page-index .calc .walls {
    margin: auto;
    text-align: center; }
  .page-index .walls:after {
    height: 2px;
    width: 100%;
    content: '';
    display: block;
    background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent); }
  .page-index .calc .roof {
    margin: auto;
    text-align: center; } }

@media screen and (max-width: 1300px) {
  .page-index header {
    position: absolute !important; }
  .page-index .footer {
    position: relative !important;
    opacity: 1;
    background-color: #232323;
    padding: 15px 15px 0; }
    .page-index .footer .forma {
      margin: auto; }
    .page-index .footer .want-a-discount, .page-index .footer .zamanuha, .page-index .footer .copiright {
      margin: auto;
      text-align: center; }
  .page-index .screen-three, .page-index .screen-fourth, .page-index .screen-five {
    height: 100% !important;
    padding: 15px 0; } }

@media screen and (max-width: 1280px) {
  .page-index .calc {
    display: flex;
    flex-wrap: wrap; }
    .page-index .calc .main-content .copiright {
      display: none; }
    .page-index .calc .forma {
      margin: auto; }
  .page-index .hide-discount {
    display: none; }
  .page-index .want-a-discount {
    display: none !important; }
  .page-index .footer .zamanuha-desc {
    display: none !important; }
  .page-index .footer .forma-desc {
    display: none !important; }
  .page-index .footer .zamanuha-mobile {
    display: flex !important; }
    .page-index .footer .zamanuha-mobile a {
      color: #ff9600;
      text-decoration: underline;
      font-size: 17px; } }

@media screen and (max-width: 1260px) {
  .page-index .calc {
    position: relative !important;
    max-height: inherit;
    padding: 25px !important; }
  .page-index header .main-content {
    justify-content: center; } }

@media screen and (max-width: 982px) {
  .page-index .forma {
    justify-content: center;
    margin: auto; } }

@media screen and (min-width: 769px) {
  .page-index .screen-stages {
    padding-top: 150px; } }

@media screen and (max-width: 767px) {
  .page-index .screen-one .item .main-content {
    font-size: 18pt;
    line-height: 25px;
    padding-right: 15px;
    bottom: 49px; }
  .page-index .nav-default {
    background-color: rgba(35, 35, 35, 0.8); }
  .page-index .screen-two .item {
    padding-top: 0; }
    .page-index .screen-two .item p {
      font-size: 13px; }
    .page-index .screen-two .item .more-info {
      padding: 25px 0; }
    .page-index .screen-two .item .menu {
      width: 100%;
      text-align: center; }
      .page-index .screen-two .item .menu ul li:hover:after {
        display: none !important; }
  .page-index .screen-fourth .image {
    margin: 0 30px; }
  .page-index header .main-content .navbar-toggle {
    margin-right: 0; }
  .page-index header .main-content .navbar-toggle .icon-bar {
    background: #ff9600; }
  .page-index header .main-content .navbar-header {
    width: 100%;
    padding: 0 0 15px 25px; }
  .page-index header .main-content .logo {
    float: left; }
  .page-index header .main-content .menu {
    width: 100%;
    padding: 0 15px; }
    .page-index header .main-content .menu .custom-caret {
      float: right; }
    .page-index header .main-content .menu .navbar-hide {
      border-bottom: 1px solid rgba(215, 215, 215, 0.1); }
    .page-index header .main-content .menu ul .open ul {
      background-color: transparent !important; }
      .page-index header .main-content .menu ul .open ul li {
        border-top: 1px solid #ff9600;
        background-image: linear-gradient(to top, transparent, transparent, rgba(255, 255, 255, 0.22)); }
    .page-index header .main-content .menu ul li:hover a {
      padding-bottom: 10px; }
  .page-index .calc .calc-input input {
    width: 130px;
    height: 35px; } }

@media screen and (max-width: 667px) {
  .page-index .screen-five .content .cell {
    width: 250px; } }

@media screen and (max-width: 610px) {
  .page-index .screen-two .item .title {
    font-size: 20pt;
    padding: 10px 0 0; } }

@media screen and (min-width: 587px) {
  .page-index .your-discount {
    top: 43px;
    position: relative; } }

@media screen and (max-width: 586px) {
  .page-index .footer .main-content .forma .your-discount, .page-index .calc .main-content .forma .your-discount {
    text-align: center; }
  .page-index .your-discount-fixed {
    background-color: #232323;
    position: fixed;
    margin-bottom: 0;
    left: 0;
    right: 0;
    bottom: 0; } }

@media screen and (max-width: 507px) {
  .page-index .screen-fourth .content .image:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2), transparent);
    position: relative; } }

@media screen and (max-width: 414px) {
  .page-index .bottom-stat .description {
    font-size: 15pt; }
  .page-index .bottom-stat .value {
    font-size: 17pt; }
  .page-index .bottom-stat .subject {
    font-size: 15pt; }
  .page-index .call-number, .page-index .city {
    width: 100%;
    text-align: center; } }
